---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
ReflowComments: true
...
